extends layout 
block content
    h1 Game Page #{id}

    h4 General Chat
    template#message-content
        .chat-message
            span.username
            span.message
            span.timestamp

    #chat
        #messages
        div
            input#message(type="text" method="post")
            button(type="submit") Send
    