extends layout

block content
  h1 Index(Home) Page
  if username
    h2 Welcome #{username}
  ul
    li
      a(href="/games/42") Games
    li
      a(href="/auth/register") Register
    li
      a(href="/auth/login") Login
