doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="/") Home
      li 
        a(href="/authenticated/lobby") Lobby
      li 
        a(href="/authenticated/games") Game Page
    block content
